<div class="source">

</div>
<div class="cover over-event" (mouseenter)="mouseOver()" (mouseleave)="mouseOut()" [class.focus]="coverViewState == 'active'">
    <div class="image" [@fade]="coverImageViewState" [style.background-image]="'url('+mediaObj.standardImage.url+')'"></div>
    <div class="bg"></div>
    <div class="typo">
        <div class="image-info">
            <p>{{mediaObj.text}}</p>
            <p class="tags"><span *ngFor="let tag of mediaObj.tags;">{{tag}}</span><span>{{mediaObj.ctime|dateFormat}}</span></p>
        </div>
    </div>
</div>
