<div class="part top">
    <div class="source"><img src="{{image}}" /></div>
    <div class="cover">
        <div class="typo">
            <h2>{{title}}</h2>
            <p>{{date}}</p>
        </div>
    </div>
</div>
<div class="part bottom">
    <div class="source"><img src="{{image}}" /></div>
    <div class="cover">
        <div class="typo">
            <h2>{{title}}</h2>
            <p>{{date}}</p>
        </div>
    </div>
</div>
<div class="part bottom">
    <div class="source"><img src="{{image}}" /></div>
    <div class="cover">
        <div class="typo">
            <h2>{{title}}</h2>
            <p>{{date}}</p>
        </div>
    </div>
</div>