<!-- <div class="picinfo top" [@viewState]="topPicinfoViewState">
    <h2>{{picTitle}}</h2>
    <p>{{picDate}}</p>
</div> -->
<div class="picstream">
    <div class="carousel-bg"></div>
    <div class="carousel">
        <div *ngFor="let boxData of boxes; let i = index" class="box type-a" [mediaObj]="boxData" (click)="focus(i)"></div>
        <div class="next-instagram">
            <div class="more-btn">
                <i class="icon-instagram"></i>
                <a class="more-photos" href="https://www.instagram.com/doorisan_farmer/" target="_blank">사진 더 보러가기</a>
            </div>
        </div>
    </div>
    <!-- <div class="nav">
        <div class="buttons">
        <a class="prev" href="#" [@viewState]="prevButtonViewState">PREV</a>
        <a class="next" href="#" [@viewState]="nextButtonViewState">NEXT</a>
    </div>  -->
</div>
