<div class="picinfo">
    <h2>{{selected.title}}</h2>
    <p>{{selected.date}}</p>
</div>
<div class="carousel">
    <ng-template ngFor let-boxData [ngForOf]="boxes">
        <div *ngIf="boxData.type=='a'" class="box type-a" [args]="boxData"></div>
        <div *ngIf="boxData.type=='b'" class="box type-b" [args]="boxData"></div>
        <div *ngIf="boxData.type=='c'" class="box type-c" [args]="boxData"></div>
        <div *ngIf="boxData.type=='d'" class="box type-d" [args]="boxData"></div>
    </ng-template>
</div>
<div class="nav">
    <div class="buttons">
    <a class="prev" href="#">PREV</a>
    <a class="next" href="#">NEXT</a>
</div>
