<div class="cart-box">
    <div class="bill">
        <dl>
            <dt>상품가격</dt>
            <dd><strong>{{price | withComma}}</strong>&nbsp;원</dd>
        </dl>
        <dl>
            <dt>할인금액</dt>
            <dd><strong>{{discount | withComma}}</strong>&nbsp;원</dd>
        </dl>
        <dl>
            <dt>배송비</dt>
            <dd><strong>{{shipping | withComma}}</strong>&nbsp;원</dd>
        </dl>
        <dl class="total">
            <dt>결제예정금액</dt>
            <dd><strong>{{total | withComma}}</strong>&nbsp;원</dd>
        </dl>
    </div>
    <div class="separator"></div>
    <div class="funcs">
        <!-- <a class="order account" href="#" title="계좌이체로 주문하기">계좌이체</a> -->
        <a class="order npay" href="#" (click)="order($event, 'npay')"title="주문하기">주문하기</a>
    </div>
</div>
