<div class="boundary">
    <h2 class="title">Store</h2>
    <div class="product-box">
        <div *ngFor="let product of products; let i = index" class="product">
            <div class="top" (click)="add($event, product.id)">
                <div class="thumb" [style.background-image]="'url('+product.image+')'">
                    <div class="cover" [class.visible]="coverVisible[i]" (mouseover)="activeCover(i, 'ADD TO CART')" (mouseout)="inactiveCover(i)">
                        <div class="bg"></div>
                        <span class="text">{{coverText}}</span>
                    </div>
                </div>
                <h3 class="title">{{product.title}}</h3>
            </div>
            <div class="separator">
                <span class="edge-left"></span>
                <span class="edge-right"></span>
            </div>
            <div class="bottom">
                <div class="left">
                    <h4>가격</h4>
                    <span class="price"><strong>{{withComma(product.price)}}</strong> 원</span>
                    <span *ngIf="product.oprice != 0" class="o-price">{{withComma(product.oprice)}} 원</span>
                </div>
                <div class="right">
                    <h4>수량</h4>
                    <a class="pm-buttons minus" (mouseover)="activeCover(i, 'REMOVE TO CART')" (mouseout)="inactiveCover(i)" href="#" (click)="remove($event, product.id)"><i></i></a><span class="quantity" [attr.data-quantity]="product.quantity">{{withComma(product.quantity)}}</span><a class="pm-buttons plus" (mouseover)="activeCover(i, 'ADD TO CART')" (mouseout)="inactiveCover(i)" href="#"  (click)="add($event, product.id)"><i></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
