.intro {
    & .boundary {
        max-width: 1680px !important;
        display: flex;
        align-items: center;
    }
    & .typo {
        position: relative;
        display: inline-block;
        width: 50%;
    }
    & .image {
        position: relative;
        display: inline-block;
        width: 50%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        // @media screen and (max-width: 980px) {
        //     background: none;
        // }
    }
    & .sparassis-crispa {
        height: 700px;
        @media screen and (max-width: 980px) {
            height: auto;
        }
        & .image {
            width: 55%;
            margin-right: 120px;
            height: 460px;
            background-image: url("/assets/images/intro.jpg");
            @media screen and (max-width: 800px) {
                display: none;
            }
            @media screen and (min-width: 801px) and (max-width: 1050px) {
                width: 40%;
                margin-right: 45px;
            }
            @media screen and (min-width: 1051px) and (max-width: 1440px) {
                margin-right: 80px;
            }
        }
        & .typo {
            width: 35%;
            margin-right: 120px;
            margin-left: 150px;
            @media screen and (max-width: 500px) {
                width: 100%;
                margin-top: 0;
                margin-right: 30px;
                margin-left: 30px;
            }
            @media screen and (min-width: 501px) and (max-width: 800px) {
                width: 100%;
                margin-top: 0;
                margin-right: 45px;
                margin-left: 45px;
            }
            @media screen and (min-width: 801px) and (max-width: 1050px) {
                width: 60%;
                margin-top: 0;
                margin-right: 45px;
                margin-left: 45px;
            }
            @media screen and (min-width: 1051px) and (max-width: 1440px) {
                margin-right: 80px;
                margin-left: 80px;
            }
            & h2 {
                font-size: 2.000em;
                line-height: 1.5;
                text-align: left;
                word-break: keep-all;
            }
            & p {
                // max-width: 650px;
                text-align: justify;
                margin: 25px 0 0 0;
                font-size: 1.125em;
                line-height: 1.5;
            }
            & .source-link {
                display: block;
                margin-top: 50px;
                @media screen and (max-width: 500px) {
                    display: none;
                }
                & .thumb {
                    display: inline-block;
                    width: 168px;
                    height: 94px;
                    background: url("/assets/images/thumb_mybody.jpg") no-repeat center center/cover;
                    // background: #999;
                }
                & dl {
                    display: inline-block;
                    margin: 0 0 0 15px;
                    & dt {
                        color: #000;
                    }
                    & dd {
                        margin-top: 5px;
                        font-size: 0.875em;
                        &.link-btn {
                            margin-top: 20px;
                            padding: 0;
                            width: 105px;
                            color: #00afff;
                        }
                    }

                }
            }
        }
    }

}
