@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

body {
    font-family: 'Noto Sans KR', "Roboto","Helvetica",arial,sans-serif;
    margin: 0;
    padding: 0;
    color: #555;
}
img {
    border:0;
}
button {
    margin:0;
    padding:0;
    border:0;
}
h2, h3, h4 {
    font-weight: normal;
}
a {
    text-decoration: none;
    color:inherit;
    &:active {
        text-decoration: none;
        color:inherit;
    }
    &:link {
        text-decoration: none;
        color:inherit;
    }
    &:visited {
        text-decoration: none;
        color:inherit;
    }
    &:hover {
        text-decoration: underline;
        color:inherit;
    }
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 75px;
    background: transparent;
    @include transition(opacity .6s ease);
    &.hidden {
        opacity: 0;
    }
    &.floating {
        border: 1px solid #c1c1c1 !important;
        margin-top: -20px;
        background: #fff;
        opacity: 1 !important;
    }
    & .logo {
        position: relative;
        float: left;
        top: 50%;
        margin-top: -15px;
        margin-left: 25px;
        & h2 {
            margin: 10px 35px;
            font-size: 19px;
        }
    }
    & .menu {
        position: relative;
        top: 50%;
        width: 430px;
        margin-top: -15px;
        margin-right: 20px;
        float: right;
        & ul {
            margin: 0;
            padding: 0;
            list-style: none;
            & li {
                &.selected {
                    text-decoration: underline;
                }
                float:left;
                text-align: center;
                margin: 10px 25px;
                & a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.content {
    width: 100%;
    margin-top: 50px;
    & .title {
        text-align: center;
    }
    & section {
        padding: 50px 0 75px 0;
        & .boundary {
            margin: 0 auto;
            max-width: 980px;
        }
        & h2 {
            margin-bottom: 55px;
        }
    }
}

.media {
    position: relative;
    display: block;
    padding: 0 !important;
    margin: 10px 0 45px 0;
    & .picinfo.top {
        text-align: center;
        & h2 {
            margin-bottom: 0;
            font-size: 24px;
        }
        & p {
            margin: 5px 0 0 0;
            font-size: 13px;
        }
        &.hidden {
            opacity: 0;
        }
    }
    & .picstream {
        position: relative;
        width: 100%;
        height: 550px;
        margin-top: 25px;
        overflow: hidden;
        & .carousel-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #eee;
            & .left-side {
                display: flex;
                align-items: center;
                justify-content: center;
                float: left;
                width: 50%;
                height: 100%;
                &.wideType {
                    margin-left: -220px;
                }
                &.halfType {
                    margin-left: -110px;
                }
                & .picinfo {
                    max-width: 270px;
                    padding: 0 25px;
                    margin: 0 auto;
                    text-align: left;
                    & h2 {
                        margin-bottom: 0;
                        font-size: 24px;
                    }
                    & p {
                        margin: 15px 0 0 0;
                        font-size: 13px;
                    }
                }
            }
            & .right-side {
                display: flex;
                align-items: center;
                justify-content: center;
                float: right;
                width: 50%;
                height: 100%;
                &.wideType {
                    margin-right: -220px;
                }
                &.halfType {
                    margin-right: -110px;
                }
                & .picinfo {
                    max-width: 270px;
                    padding: 0 25px;
                    margin: 0 auto;
                    text-align: left;
                    & h2 {
                        margin-bottom: 0;
                        font-size: 24px;
                    }
                    & p {
                        margin: 15px 0 0 0;
                        font-size: 13px;
                    }
                }
            }
        }
        & .carousel {
            position: relative;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            & .box {
                display: inline-block;
                position: relative;
                height: 550px;
                // margin-right: -4px;
                & .source {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    // margin-left: -1px;
                    overflow: hidden;
                    background: #000;
                    & youtube-player {
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%) scale(1.2, 1.2);
                    }
                }
                & .cover {
                    position: absolute;
                    // display: table;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: transparent no-repeat center bottom/cover;
                    & .typo {
                        // display: table-cell;
                        display: none !important;
                        color: #fff;
                        & h2 {
                            margin: 0 0 7px 0;
                            font-weight: normal;
                            font-size: 28px;
                        }
                        & p {
                            margin: 7px 0 0 0;
                            font-size: 15px;
                        }
                    }
                }
                &.type-a {
                    width: 890px;
                    & .typo {
                        display: table-cell;
                        text-align: center;
                        vertical-align: bottom;
                        padding: 0 0 100px 0;
                    }
                }
                &.type-b {
                    width: 400px;
                    & .typo {
                        display: table-cell;
                        text-align: center;
                        vertical-align: bottom;
                        padding: 0 0 100px 0;
                    }
                }
                &.type-c {
                    width: 400px;
                    & .typo {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                    & .part {
                        position: relative;
                        height: 50%;
                    }
                }
                &.type-d {
                    width: 890px;
                    & .typo {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                    & .part {
                        position: relative;
                        height: 50%;
                    }
                    & .top {
                        width: 100%;
                    }
                    & .bottom {
                        display: inline-block;
                        width: 50%;
                        margin-right: -4px;
                    }
                }
            }
        }
        & .nav {
            position: absolute;
            top: 0;
            width: 100%;
            height: 0px;
            background: red;
            & .buttons {
                box-sizing: border-box;
                width: 100%;
                height: 0;
                max-width: 1050px;
                margin: 0 auto;
                padding: 0 15px;
                & a {
                    display: inline-block;
                    margin-top: 260px;
                    font-size: 21px;
                    font-weight: 100;
                    color: #fff;
                }
                & .next {
                    float: right;
                }
            }
        }
    }
}

.intro {
    & p {
        margin: 0 auto;
        max-width: 650px;
        text-align: justify;
    }
}

.scrap {
    & .scrap-box {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        & .article {
            display: inline-block;
            width: 220px;
            padding: 180px 0;
            margin-right: 10px;
            border: 1px solid #999;
        }
    }
    & .more {
        width: 100%;
        text-align: center;
    }
}

.store {
    background: #f6f6f6;
    & .product-box {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        & .product {
            display: inline-block;
            width: 200px;
            padding: 130px 0;
            background: #fff;
            border: 1px solid #c1c1c1;
        }
    }
}

.how-to-eat {
    & .recipes {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        & .recipe {
            display: inline-block;
            text-align: justify;
            width: 250px;
            vertical-align: top;
            margin-right: 25px;
        }
    }
}

.cart {
    position: fixed;
    bottom: -100px;
    width: 100%;
    height: 100px;
    background: #fff;
    border-top: 1px solid #999;
    @include transition(all 0.25s ease);
    & .cart-box {
        margin: 30px auto;
        max-width: 980;
        & .bill {
            float: left;
            margin-left: 150px;
            font-size: 21px;
            & span {
                margin: 0 10px;
            }
        }
        & .order {
            float: right;
            background: #3A5896;
            color : #fff;
            padding: 5px 25px;
            border-radius: 8px;
            margin-right: 150px;
        }
    }
    &.visible {
        bottom: 0;
    }
}

.go-to-top {
    position: fixed;
    display: inline-block;
    right: 18px;
    bottom: -40px;
    z-index: 10;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    background: 0 0;
    color: #a2a8b2;
    cursor: pointer;
    @include transition(all 0.25s ease);
    & i.icon-top {
        position: relative;
        display: inline-block;
        width: 37px;
        height: 37px;
        background-position: -943px -20px;
        vertical-align: middle;
        line-height: 1;
        font-size: 0;
        background-image: url("https://wstatic-cdn.plaync.com/uikit/nccommunity/img/icon/comm-icon-default_@1x.png");
        background-repeat: no-repeat;
        opacity: .7;
    }
    &.visible {
        bottom: 18px;
    }
}

footer {
    color: #fff;
    background-color: #3b3e43;
    text-align: center;
    padding: 60px 0;
}
