.media {
    position: relative;
    display: block;
    padding: 0 !important;
    margin: 0;
    & .picinfo.top {
        text-align: center;
        & h2 {
            margin-bottom: 0;
            font-size: 24px;
        }
        & p {
            margin: 5px 0 0 0;
            font-size: 13px;
        }
        &.hidden {
            opacity: 0;
        }
    }
    & .picstream {
        position: relative;
        width: 100%;
        // height: 550px;
        overflow: hidden;
        & .carousel-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #eee;
            @media screen and (max-width: 1650px) {
                background: transparent !important;
                & .left-side .picinfo, & .right-side .picinfo {
                    display: none;
                }
            }
            & .left-side {
                display: flex;
                align-items: center;
                justify-content: center;
                float: left;
                width: 50%;
                height: 100%;
                &.wideType {
                    margin-left: -220px;
                }
                &.halfType {
                    margin-left: -110px;
                }
                & .picinfo {
                    max-width: 270px;
                    margin: 0 auto;
                    text-align: left;
                    word-break: keep-all;
                    & h2 {
                        margin-bottom: 0;
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 38px;
                        color: $titleColor;
                    }
                    & p {
                        margin: 12px 0 0 0;
                        font-size: 17px;
                        font-weight: 300;
                        line-height: 1.3;
                    }
                    & .date {
                        font-size: 15px;
                        display: inline-block;
                        margin-top: 12px;
                    }
                }
            }
            & .right-side {
                display: flex;
                align-items: center;
                justify-content: center;
                float: right;
                width: 50%;
                height: 100%;
                &.wideType {
                    margin-right: -220px;
                }
                &.halfType {
                    margin-right: -110px;
                }
                & .picinfo {
                    max-width: 270px;
                    margin: 0 auto;
                    text-align: left;
                    & h2 {
                        margin-bottom: 0;
                        font-size: 24px;
                    }
                    & p {
                        margin: 15px 0 0 0;
                        font-size: 13px;
                    }
                }
            }
        }
        & .carousel {
            position: relative;
            width: 100%;
            height: 100%;
            & .box {
                display: inline-block;
                position: relative;
                height: 550px;
                cursor: pointer;
                & .source {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: #000;
                    & youtube-player {
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%) scale(1.2, 1.2);
                    }
                }
                & .cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    & .image {
                        width: 100%;
                        height: 100%;
                        background: transparent no-repeat center center/cover;
                    }
                    & .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        opacity: .3;
                    }
                    & .typo {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: #fff;
                        width: 100%;
                        padding: 55px 45px;
                        word-break: keep-all;
                        & h2 {
                            margin: 0;
                            font-size: 27px;
                            font-weight: 400;
                            line-height: 36px;
                            color: #fff;
                        }
                        & p {
                            margin: 8px 0 0 0;
                            font-size: 17px;
                            font-weight: 300;
                            line-height: 1.3;
                            opacity: .8;
                        }
                        & .date {
                            font-size: 15px;
                            display: inline-block;
                            margin-top: 8px;
                        }
                    }
                }
                &.type-a {
                    width: $widePicWidth;
                    & .typo {
                        max-width: 480px;
                        left: 0;
                        @media screen and (max-width: 500px) {
                            max-width: 100%;
                        }
                    }
                }
                &.type-b {
                    width: $halfPicWidth;
                }
                &.type-c {
                    width: $halfPicWidth;
                    & .typo {
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                    }
                    & .part {
                        position: relative;
                        height: 50%;
                    }
                }
                &:first-child {
                    & .typo {
                        display: none;
                        @media screen and (max-width: 1650px) {
                            display: block;
                        }
                    }
                }
            }

        }
        & .nav {
            position: absolute;
            top: 0;
            width: 100%;
            height: 0px;
            background: red;
            & .buttons {
                box-sizing: border-box;
                width: 100%;
                height: 0;
                max-width: 1050px;
                margin: 0 auto;
                padding: 0 15px;
                & a {
                    display: inline-block;
                    margin-top: 260px;
                    font-size: 21px;
                    font-weight: 100;
                    color: #fff;
                }
                & .next {
                    float: right;
                }
            }
        }
    }
}
