.media {
    position: relative;
    display: block;
    padding: 0 !important;
    margin: 0;
    & .picstream {
        position: relative;
        width: 100%;
        height: 530px;
        overflow: hidden;
        @media screen and (max-width: 500px) {
            background: #ddd;
        }
        & .image-loading {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: #fff;
            // background: #eeeeee url("/assets/images/insta-bg.jpg") repeat-x left top;
            text-align: center;
            padding-top: 250px;
        }
        & .carousel-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #eeeeee url("/assets/images/insta-bg.jpg") repeat-x left top;
            @media screen and (max-width: 1650px) {
                & .left-side .picinfo, & .right-side .picinfo {
                    display: none;
                }
            }
        }
        & .carousel {
            position: relative;
            width: 100%;
            height: 100%;
            & .box {
                display: inline-block;
                position: relative;
                cursor: pointer;
                & .source {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: #000;
                    & video {
                        width: 100%;
                        height: auto;
                        // transform: scale(1.01, 1.01);
                    }
                }
                & .cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &.focus {
                        & .bg {
                            opacity: 0.7;
                        }
                        & .typo {
                            opacity: 1;
                        }
                    }
                    & .image {
                        width: 100%;
                        height: 100%;
                        background: transparent no-repeat center center;
                        background-size: 100% 100%;
                        @media screen and (max-width: 980px) {
                            background: transparent no-repeat center center/cover;
                        }
                        // transform: scale(1.05, 1.05);
                        // @include transition(all .45s ease);
                    }
                    & .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #27282d;
                        opacity: 0;
                        @include transition(opacity .6s ease);
                        &:after {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            content: '';
                            background: -webkit-linear-gradient(top, rgba(39,40,45,0) 0%, rgba(39,40,45,0.5) 80%);
                            background: -moz-linear-gradient(top, rgba(39,40,45,0) 0%, rgba(39,40,45,0.5) 80%);
                            background: -o-linear-gradient(top, rgba(39,40,45,0) 0%, rgba(39,40,45,0.5) 80%);
                            background: linear-gradient(to bottom, rgba(39,40,45,0) 0%, rgba(39,40,45,0.5) 80%);
                        }
                    }
                    & .typo {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        left: 0;
                        bottom: 0;
                        color: #fff;
                        width: 100%;
                        height: 100%;
                        padding: 55px 20%;
                        opacity: 0;
                        text-align: center;
                        word-break: keep-all;
                        @include transition(opacity .6s ease);
                        @media screen and (max-width: 500px) {
                            padding: 0 35px 75px 35px;
                        }
                        & .image-info {
                            width: 100%;
                            & p {
                                margin: 15px 0 0 0;
                                font-size: 1.188em;
                                font-weight: 300;
                                line-height: 1.3;
                            }
                            & .tags {
                                margin-top: 15px;
                                font-size: 0.938em;
                                opacity: .7;
                                // & span::after {
                                //     content: " · ";
                                // }
                                & span::before {
                                    content: " #";
                                }
                                & span:last-child::after {
                                    display: none;
                                }
                            }
                            & .date {
                                font-size: 0.938em;
                                display: inline-block;
                                margin-top: 8px;
                                opacity: .7;
                            }
                        }
                    }
                }
                &.type-a {
                    max-width: $widePicWidth;
                    & .typo {
                        @media screen and (max-width: 500px) {
                            max-width: 100%;
                        }
                    }
                }
                &.type-b {
                    max-width: $halfPicWidth;
                }
                &.type-c {
                    max-width: $halfPicWidth;
                    & .typo {
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                    }
                    & .part {
                        position: relative;
                        height: 50%;
                    }
                }
            }
            & .next-instagram {
                position: relative;
                display: inline-block;
                width: 380px;
                height: 530px;
                & .more-btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    & .icon-instagram {
                        display: block;
                        overflow: hidden;
                        width: 207px;
                        height: 51px;
                        background-position: -64px 0 !important;
                        text-indent: 101%;
                        white-space: nowrap;
                        background: transparent url("/assets/images/ico-grp.png") no-repeat;
                    }
                    & .more-photos {
                        display: block;
                        margin-top: 8px;
                        line-height: 1;
                        color: rgba(255, 255, 255, 0.8);
                        &:hover {
                            text-decoration: underline;
                        }
                        & i {
                            display: inline-block;
                            overflow: hidden;
                            width: 16px;
                            height: 16px;
                            margin-left: 5px;
                            background-position: -48px 0 !important;
                            text-indent: 101%;
                            white-space: nowrap;
                            background: transparent url("/assets/images/ico-grp.png") no-repeat;
                        }
                    }
                }
            }

        }
        & .nav {
            position: absolute;
            top: 0;
            width: 100%;
            height: 0px;
            background: red;
            & .buttons {
                box-sizing: border-box;
                width: 100%;
                height: 0;
                margin: 0 auto;
                padding: 0;
                & a {
                    display: inline-block;
                    margin-top: 215px;
                    width: 60px;
                    height: 85px;
                    background: rgba(0, 0, 0, 0.6);
                    opacity: .6;
                    font-size: 1.313em;
                    font-weight: 100;
                    color: #fff;
                    & i {
                        display: inline-block;
                        width: 24px;
                        height: 45px;
                        overflow: hidden;
                        text-indent: 101%;
                        background: url(/assets/images/ico-grp.png) no-repeat;
                    }
                }
                & .next {
                    float: right;
                    & i {
                        margin: 20px 19px;
                        background-position: 0 0;
                    }
                }
                & .prev {
                    & i {
                        margin: 20px 17px;
                        background-position: -24px 0;
                    }
                }
            }
        }
    }
}
