// Mobile mode
.is-mobile {
    font-size: 18px;
    & .store .notice {
        font-size: 16px;
        
    }
    & .scrap .scrap-box .article .click-area {
        & h3 {
            max-height: 53px;
        }
        & p {
            height: 71px;
        }
    }
    & footer {
        font-size: 16px;
    }

    & .store .product-box .product .bottom .right a.pm-buttons {
        &.plus:hover i {
            background-position: 0 0;
        }
        &.minus:hover i {
            background-position: 0 -30px;
        }
    }
}