.store {
    & .boundary {
        // max-width: 100% !important;
    }
    background: #f6f6f6;
    background-image: -ms-linear-gradient(top, #F6F6F6 90%, #EEEEEE 100%);
    background-image: -moz-linear-gradient(top, #F6F6F6 90%, #EEEEEE 100%);
    background-image: -o-linear-gradient(top, #F6F6F6 90%, #EEEEEE 100%);
    background-image: -webkit-linear-gradient(top, #F6F6F6 90%, #EEEEEE 100%);
    background-image: linear-gradient(to bottom, #F6F6F6 90%, #EEEEEE 100%);
    & .product-box {
        width: 100%;
        text-align: center;
        padding: 0 15px;
        @media screen and (max-width: 500px) {
            padding: 0;
        }
        & .product {
            display: inline-block;
            // max-width: 320px;
            max-width: 330px;
            width: 100%;
            margin: 0 8px;
            margin-bottom: 20px;
            background: #fff;
            @include box-shadow(1px 1px 3px #eeeeee);
            @media screen and (max-width: 500px) {
                max-width: 100%;
                margin: 8px 0 0 0;
                @include box-shadow(none);
            }
            @media screen and (min-width: 501px) and (max-width: 700px) {
                max-width: 420px;
            }
            &.soldout {
                & .title {
                    padding-bottom: 2px !important;
                }
            }
            & .top {
                border: 1px solid #e1e1e1;
                // border-bottom: none;
                cursor: pointer;
                @include user-select(none);
                @media screen and (max-width: 500px) {
                    text-align: left;
                    border-left: none;
                    border-right: none;
                    // padding: 25px 25px 0 25px;
                    padding: 20px;
                    // margin-bottom: 10px;
                }
                & .thumb {
                    position: relative;
                    width: 100%;
                    height: 230px;
                    background: transparent no-repeat center center/cover;
                    @media screen and (max-width: 500px) {
                        display: inline-block;
                        float: right;
                        width: 80px;
                        height: 80px;
                    }
                    & .cover {
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        @include transition(opacity .35s);
                        &.visible {
                            opacity: 1 !important;
                        }
                        & .bg {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: #000000;
                            opacity: .35;
                        }
                        & .text {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            font-size: 1.063em;
                            color: #ffffff;
                            text-align: center;
                            padding-top: 90px;
                            z-index: 1;
                        }
                    }
                }
                & .info {
                    padding: 15px 0;
                    @media screen and (max-width: 500px) {
                        display: inline-block;
                        height: 80px;
                        padding: 0;
                    }
                    & .title {
                        width: 100%;
                        font-size: 1.063em;
                        color: $titleColor;
                        line-height: 1.5;
                        text-align: center;
                        @media screen and (max-width: 500px) {
                            padding: 0;
                            text-align: left;
                        }
                        @media screen and (min-width: 501px) and (max-width: 1050px) {
                            // padding: 15px 10px 5px 10px;
                        }
                    }
                    & .price {
                        // display: none;
                        font-size: 1.063em;
                        line-height: 1.3;
                        vertical-align: middle;
                        @media screen and (max-width: 500px) {
                            display: inline-block;
                            font-size: 0.938em;
                        }
                    }
                    & .o-price {
                        display: inline-block;
                        font-size: 0.938em;
                        text-decoration: line-through;
                        line-height: 1.3;
                        vertical-align: middle;
                        padding-top: 2px;
                        @media screen and (max-width: 500px) {
                            display: inline-block;
                            font-size: 0.938em;
                        }
                    }
                    & .soldout-remain {
                        width: 100%;
                        padding: 0 20px 8px 20px;
                        font-size: 0.875em;
                        @media screen and (max-width: 500px) {
                            display: none;
                        }
                    }
                }
            }
            & .separator {
                height: 12px;
                background: url("/assets/images/store_dash.jpg") repeat 0 0;
                @media screen and (max-width: 1050px) {
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    & .edge-left, & .edge-right {
                        display: none !important;
                    }
                }
                & .edge-left {
                    display: block;
                    float: left;
                    width: 7px;
                    height: 12px;
                    background: url("/assets/images/store_edge_left.jpg") no-repeat 0 0;
                }
                & .edge-right {
                    display: block;
                    float: right;
                    width: 7px;
                    height: 12px;
                    background: url("/assets/images/store_edge_right.jpg") no-repeat;
                }
            }
            & .bottom {
                border: 1px solid #e1e1e1;
                border-top: none;
                @media screen and (max-width: 500px) {
                    border-left: none;
                    border-right: none;
                    padding: 0 25px;
                }
                & h4 {
                    font-size: 0.875em;
                    color: #999;
                }
                & .left {
                    display: inline-block;
                    width: 55%;
                    margin: 15px 0 20px 0;
                    padding: 5px 0 5px 10px;
                    border-right: 1px solid #e1e1e1;
                    @media screen and (max-width: 500px) {
                        display: none;
                    }
                    & .price {
                        display: block;
                        font-size: 1.063em;
                        line-height: 36px;
                        & strong {
                            font-size: 1.813em;
                            font-weight: normal;
                            color: #ea002c;
                            letter-spacing: -2px;

                        }
                    }
                    & .o-price {
                        display: block;
                        font-size: 1.063em;
                        text-decoration: line-through;
                        margin-top: -3px;
                    }
                }
                & .right {
                    display: inline-block;
                    width: 45%;
                    margin: 15px 0 20px -4px;
                    padding: 5px 10px 5px 0;
                    @include user-select(none);
                    @media screen and (max-width: 500px) {
                        width: 100%;
                        padding: 0;
                        margin: 3px 0 10px 0;
                        & h4 {
                            display: none !important;
                        }
                    }
                    & a.pm-buttons {
                        display: inline-block;
                        width: 35%;
                        height: 35px;
                        @media screen and (max-width: 500px) {
                            text-align: center !important;
                        }
                        & i {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: url("/assets/images/store.png") no-repeat;
                        }
                        &.plus {
                            text-align: left;
                            & i {
                                margin-top: 9px;
                                margin-left: 8px;
                                background-position: 0 0;
                            }
                        }
                        &.plus:hover i {
                            background-position: -30px 0;
                        }
                        &.minus {
                            text-align: right;
                            & i {
                                margin-top: 9px;
                                margin-right: 5px;
                                background-position: 0 -30px;
                            }
                        }
                        &.minus:hover i {
                            background-position: -30px -30px;
                        }
                    }
                    & .quantity {
                        display: inline-block;
                        font-size: 1.813em;
                        line-height: 35px;
                        color:$titleColor;
                        @include transition(all .35s);
                        &[data-quantity='0'] {
                            color: #c1c1c1;
                        }
                    }
                    & .soldout-msg {
                        display: inline-block;
                        margin-top: 15px;
                        font-size: 1.063em;
                        line-height: 34px;
                        @media screen and (max-width: 500px) {
                            margin-top: 0;
                        }
                    }
                    & .soldout-reason {
                        display: inline-block;
                        margin-top: 24px;
                        margin-left: 3px;
                        overflow: hidden;
                        width: 16px;
                        height: 16px;
                        background-position: 0 0;
                        background-size: 100% auto !important;
                        text-indent: 101%;
                        background: transparent url("/assets/images/help.png") no-repeat;
                        @media screen and (max-width: 500px) {
                            margin-top: 9px;
                        }
                    }
                }
            }
        }
    }
    & .go-store {
        display: block;
        margin: 35px auto 0 auto;
        width: 280px;
        height: 55px;
        border: 1px solid #fff;
        padding: 13px 0 0 23px;
        background: #48a12d;
        @media screen and (max-width: 980px) {
            margin-top: 15px;
        }
        & i {
            display: inline-block;
            overflow: hidden;
            width: 235px;
            height: 32px;
            background-position: 0 -82px !important;
            text-indent: 101%;
            white-space: nowrap;
            background: transparent url("/assets/images/ico-grp.png") no-repeat;
        }
    }
    & .notice {
        width: 100%;
        margin: 60px auto 0 auto;
        padding: 0 45px;
        max-width: 980px;
        @media screen and (max-width: 500px) {
            margin-top: 35px;
        }
        & h4 {
            color: #666;
            font-size: 0.875em;
            margin-top: 20px;
        }
        & ul {
            margin-top: 5px;
            padding-left: 20px;
            font-size: 0.875em;
            text-align: justify;
            line-height: 1.5;
            & li {
                margin-top: 2px;
            }
        }
        & table {
            font-size: 0.813em;
            width:100%;
            margin-top: 15px;
            border:0;
            border-collapse:collapse;
            & tr {
                border-top: 1px solid #c9c9c9;
                border-bottom: 1px solid #c9c9c9;
            }
            & th {
                padding: 5px 8px 6px 10px;
                font-weight: normal;
                vertical-align: middle;
                background: #eee;
                border:0;
            }
            & td {
                padding: 5px 8px 6px 10px;
                border: 0;
                line-height: 1.4;
            }
        }
        & > .left {
            display: inline-block;
            width: 50%;
            padding-right: 25px;
            @media screen and (max-width: 980px) {
                width: 100%;
                padding: 0;
            }
            & h4:first-child {
                margin-top: 0;
            }
        }
        & > .right {
            display: inline-block;
            width: 50%;
            margin-left: -4px;
            padding-left: 25px;
            @media screen and (max-width: 980px) {
                width: 100%;
                padding: 0;
                margin-top: 20px;
            }
            & h4:first-child {
                margin-top: 0;
            }
        }
    }
}
