<header></header>
<header class="second-header" [class.floating]="topNavfloating"></header>
<div class="content">
    <section id="media" class="media"></section>
    <section id="intro" class="intro"></section>
    <section id="store" class="store"></section>
    <section id="scrap" class="scrap"></section>
    <!-- <section class="how-to-eat"></section> -->
</div>
<div class="cart"></div>
<a [class.visible]="topButtonVisible" (click)="goToTop($event)" href="#" class="go-to-top"><i class="icon-top"></i></a>
<footer></footer>
<div class="ng-tooltip"></div>
