<header></header>
<header class="second-header" [class.floating]="topNavfloating"></header>
<div class="content">
    <section id="media" class="media"></section>
    <section id="intro" class="intro"></section>
    <section id="store" class="store"></section>
    <div class="gnb-link">
            <ul class="store-gnb">
                <li>
        
                    <span>"<b>빠르고 쉽게</b> 제품을 주문하세요"</span>
                    
                </li>
                <li>
                    <span>
                        <a href="http://storefarm.naver.com/doorisan">스토어팜 바로가기<i class="arrow"></i></a>
                    </span>
                </li>
            </ul>
    </div>
    <section id="scrap" class="scrap"></section>
    <!-- <section class="how-to-eat"></section> -->
</div>
<div class="cart"></div>
<a [class.visible]="topButtonVisible" (click)="goToTop($event)" href="#" class="go-to-top"><i class="icon-top"></i></a>
<footer></footer>
<div class="ng-tooltip"></div>
