<div class="part top">
    <div class="source" [style.background-image]="'url('+args.images[0]+')'"></div>
    <div class="cover">
        <div class="typo">
            <h2>{{args.title}}</h2>
            <p>{{args.date}}</p>
        </div>
    </div>
</div>
<div class="part bottom">
    <div class="source" [style.background-image]="'url('+args.images[1]+')'"></div>
    <div class="cover">
        <div class="typo">
            <h2>{{args.title}}</h2>
            <p>{{args.date}}</p>
        </div>
    </div>
</div>
